<%= form_with model: @task, html: {class: "form"} do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , class: 'form-control'%>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :task_type %><br>
    <%= form.radio_button :task_type, 'bug' %>
    <%= form.label :task_type, 'bug' %><br>
    <%= form.radio_button :task_type, 'feature' %>
    <%= form.label :task_type, 'feature' %><br>
  </div>
  <div class="field">
    <%= form.label :task_status %><br>
    <%= form.radio_button :task_status, 'assigned' %>
    <%= form.label :task_status, 'assigned' %><br>
    <%= form.radio_button :task_status, 'completed' %>
    <%= form.label :task_status, 'completed' %><br>
  </div>
  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :developer_id %>
    <%= form.collection_select :developer_id, Developer.left_outer_joins(:tasks).where('tasks.developer_id IS NULL OR tasks.task_status NOT IN (0)').distinct, :id, :name, prompt: "Select a Developer" %>
  </div>
  <%= form.submit  class: "btn btn-primary" %>
<% end %>
