<%= form_with model: @project , html: {class: "form"} do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , class: 'form-control'%>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: 'form-control' %>
  </div>
  <%= form.submit "Create Project", class: "btn btn-primary" %>
<% end %>
