<% if @tasks.count == 0 %>
  <h1> This Project has No Tickets Yet</h1>
<% else %>
  <%= link_to 'Create Task', new_project_task_path(@tasks.first.project_id), class: "btn btn-primary"%>
  <h1>Tickets</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <td><%= task.task_type %></td>
          <td><%= task.task_status %></td>
          <td><%= task.priority %></td>
          <td class ='row'>
            <div class="col">
              <%= link_to "Update", edit_project_path(),class: 'btn btn-success' %>
            </div>
            <div class="col">
              <%= button_to "Delete", project_path(), method: :delete, data: { confirm: "Are you sure?" },class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
